body {
    letter-spacing: 0.015em !important;
}

.hidden {
    display: none;
}

.carousel-image {
    width: 100%;
}


.tw-tl {
    width: 100%;
}

.custom-shadow {
    box-shadow: 0em 0em 0.5em black;
}

.bi-cloud-download {
    color: #00b7ff;
}

@media screen and (max-width: 600px) {
    .playlist-iframe {
        height: 200px;
    }
    .bi-cloud-download{
        display: none;
    }
    .carousel-inner {
        box-shadow: 0em 0em 0.5em black;
    }
}